In [1]:
Month = ["jan","feb","march","apr","may","june","jul","aug","sept","oct","nov","dec"]
sales = [23,44,67,45,12,63,89,53,16,43,65,67]

In [2]:
import pandas as pd

In [3]:
# creating series in panda

In [4]:
s = pd.Series(data= sales, index=Month)

In [5]:
s

jan      23
feb      44
march    67
apr      45
may      12
june     63
jul      89
aug      53
sept     16
oct      43
nov      65
dec      67
dtype: int64

In [6]:
s.index

Index(['jan', 'feb', 'march', 'apr', 'may', 'june', 'jul', 'aug', 'sept',
       'oct', 'nov', 'dec'],
      dtype='object')

In [7]:
s.values

array([23, 44, 67, 45, 12, 63, 89, 53, 16, 43, 65, 67], dtype=int64)

# Extracting values from a series

In [8]:
s[1]

44

In [9]:
s[1:5]

feb      44
march    67
apr      45
may      12
dtype: int64

In [10]:
s[1:15]

feb      44
march    67
apr      45
may      12
june     63
jul      89
aug      53
sept     16
oct      43
nov      65
dec      67
dtype: int64

In [14]:
s[-1:-9] # does not work

Series([], dtype: int64)

In [15]:
s[-6:-2]

jul     89
aug     53
sept    16
oct     43
dtype: int64

In [16]:
s[[2,6,9]]

march    67
jul      89
oct      43
dtype: int64

In [17]:
s[["jul","aug","oct"]]

jul    89
aug    53
oct    43
dtype: int64

In [18]:
s["aug"]

53

In [19]:
s["jan":"jul"]

jan      23
feb      44
march    67
apr      45
may      12
june     63
jul      89
dtype: int64

In [20]:
s[-1]

67

In [21]:
s

jan      23
feb      44
march    67
apr      45
may      12
june     63
jul      89
aug      53
sept     16
oct      43
nov      65
dec      67
dtype: int64